@font-face {
    font-family: poppinsBold;
    src: url(/Poppins-Bold.ttf);
}



.container{
    background-image: url(/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 0.2rem 2%;
    justify-content: space-between;
    width: 100vw;
}

.logo{
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo a{
    cursor: default;
}

.logo h2{
    color: var(--white-color);
    font-family: poppinsBold;
    letter-spacing: 1px;
    font-size: 26px;
}

.navbar .name{
    color: var(--primary-blue);
    font-family: poppinsBold;
    font-size: 16px;
    text-align: center;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.content .heading{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content .heading p{
    color: var(--white-color);
    font-family: poppinsBold;
    font-size: 32px;
    text-align: center;
    text-transform: capitalize;
}

.content .heading p span{
    color: var(--primary-blue);
}

.level_number1{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.level_number1 .number{
    background: var(--primary-blue);
    color: var(--white-color);
    font-family: poppinsBold;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    width: 5rem;
    height: 5rem;
    text-align: center;
    transition-duration: 0.3s;
    border: 2px solid var(--pink-color);
    cursor: default;
}

.level_number1 .number:hover{
    border-radius: 40%;
}

.table_box{
    width: 70vw;
    background: var(--form-background);
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    position: relative;
    padding-bottom: 20px;
}

.table_box .table{
    background: var(--form-background);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    padding-top: 50px;
    text-align: center;
    border-radius: 20px;
}

.table table{
    border-collapse: collapse;
    width: 100%;
    padding: 10px;
    padding-bottom: 30px;
}

.table_box .table td{
    /* border-bottom: 1px solid var(--gray-color); */
    height: 3.5rem;
    width: 6rem;
}

.table table tbody tr{
    height: 3rem;
}

.table_box .table thead th{
    color: var(--white-color);
    font-family: poppinsBold;
    font-size: 18px;
    margin-bottom: 1rem;
}

.table_box .table tbody td{
    color: rgba(133, 135, 136, 0.76);
    font-family: poppinsBold;
}

.button{
    display:  flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    /* margin-top: 20px; */
    margin-bottom: 30px;
}

.button button{
    width: 200px;
    padding: 18px;
    border: none;
    border-radius: 10px;
    background: var(--primary-blue);
    color: var(--white-color);
    font-family: poppinsBold;
    cursor: pointer;
    transition-duration: 0.3s;
    opacity: 70%;
}

.button button:hover{
    opacity: 100%;
}

.table_box .pink_box{
    position: absolute;
    top: -4.0%;
    right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--pink-color);
    width: 15rem;
    height: 2rem;
    border-radius: 10px;
    background: var(--rectangles-background-color);
    transition-duration: 0.6s;
}

.table_box .pink_box:hover{
    /* width: 20rem; */
    right: 1%;
}

.table_box .blue_box{
    position: absolute;
    top: 20%;
    right: -1.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--primary-blue);
    width: 2.5rem;
    height: 6rem;
    border-radius: 10px;
    background: var(--rectangles-background-color);
    transition-duration: 0.5s;
}

.table_box .blue_box:hover{
    height: 15rem;
}


.table_box .yellow_box{
    position: absolute;
    bottom: -4%;
    right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--yellow-color);
    width: 7rem;
    height: 2rem;
    border-radius: 10px;
    background: var(--rectangles-background-color);
    transition-duration: 0.3s;
}

.table_box .yellow_box:hover{
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    right: 7%;
}

.table_box .orange_box{
    position: absolute;
    top: 60%;
    left: -1.8%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--orange-color);
    width: 3.0rem;
    height: 6rem;
    border-radius: 10px;
    background: var(--rectangles-background-color);
    transition-duration: 0.3s;
}

.table_box .orange_box:hover{
    width: 6rem;
    height: 3rem;
    left: -3%;
}